section#tienda{
  background: url(../img/fondo.jpg) no-repeat;
  background-size: cover;
}
#productos{
    display: flex;;
}

.card{
  margin: 20px 0px;
}

.card button{
  font-size: 1.2rem;
  background-color: #29bdff;
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 18%;
}

h1{
  color: #2b5988;
  background-color: #fff;
  padding: 5px 10px;
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
}

button {
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 2em;
    cursor: pointer;
  }

  .buttons {
    display: flex;
    justify-content: center;
    width: 200px;
    margin: 2em auto 2em;
    height: 30px;
  }

  .btn{
    background-color: #005fff;
    color: #fff;
    margin: 0 20px;
    padding: 10px;
    height: 50px;
  }

  .btn:hover{
    background-color: aqua;
  }

  #productos img{
      width: 200px;
  }

  .default{
    background: url(../img/default.jpg) no-repeat;
  }

  .octane{
    background: url(../img/octane.webp) no-repeat;
  }
  .fennec{
    background: url(../img/fennec.webp) no-repeat;
  }
  .silvia{
    background: url(../img/silvia.webp) no-repeat;
  }

  .img{
    background-size: cover;
    width: 100%;
    height: 300px;
  }


  .comun{
    background: linear-gradient(rgb(6 59 239 / 50%), rgb(29 17 219 / 37%));
    padding: 150px 0px;
  }

  .pocoComun{
    background: linear-gradient(rgba(82, 206, 236, 0.795), rgba(104, 207, 211, 0.5));
    padding: 150px 0px;
  }

  .premium{
    background: linear-gradient(rgba(248, 69, 15, 0.75), rgba(223, 147, 48, 0.5));
    padding: 150px 0px;
  }

  .limitado{
    background: linear-gradient(rgba(167, 123, 41, 0.75), rgba(0, 0, 0, 0.5));
    padding: 150px 0px;
  }

  .raro{
    background: linear-gradient(rgba(0, 119, 255, 0.75), rgba(88, 147, 255, 0.5));
    padding: 150px 0px;
  }

  .muyRaro{
    background: linear-gradient(rgba(133, 4, 255, 0.75), rgba(157, 82, 243, 0.5));
    padding: 150px 0px;
  }

  .importado{
    background: linear-gradient(rgba(250, 0, 0, 0.75) rgba(241, 67, 67, 0.5));
    padding: 150px 0px;
  }

  .exotico{
    background: linear-gradient(rgba(236, 240, 28, 0.75), rgba(233, 255, 34, 0.5));
    padding: 150px 0px;
  }
  .mercadoNegro{
    background: linear-gradient(rgba(255, 6, 243, 0.75), rgba(228, 93, 228, 0.5));
    padding: 150px 0px;
  }

  .legado{
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5));
    padding: 150px 0px;
  }